<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Ilokano-Tagalog Translator</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../static/img/Icon.png" rel="icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../static/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link
      href="../static/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="../static/css/home_style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto">
          <a href="home"><img src="../static/img/Icon.png" />Ilokano-Tagalog Translator</a>
        </h1>

        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="nav-link scrollto active" href="home">Home</a>
            </li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#team">Team</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h1>Hybrid Machine Translator</h1>
            <h2>
              A hybrid machine translator using Example-Based, Rule-Based, and
              Statistical Machine Translation approaches in converting Ilokano
              and Tagalog text.
            </h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="tag_il" class="btn-get-started scrollto">Tagalog-Ilokano</a>
              <a href="il_tag" class="btn-get-started scrollto ms-3">Ilokano-Tagalog</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            <img src="../static/img/hero-img.png" class="img-fluid animated" alt=""/>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>About</h2>
          </div>

          <div class="row content">
            <div class="col-lg-6">
              <p>
                A system developed by a group of computer science students from PUP Manila using some of the following languages and tools: 
              </p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> Python
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Jupyter Notebook
                </li>
                <li>
                  <i class="ri-check-double-line"></i> HTML, CSS, Javascript
                </li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                Ilokano and Tagalog are local languages in the Philippines and are two of the most spoken languages in the country. The system is a bidirectional translator for both of these languages.
              </p>
              <a href="https://github.com/JakeCob/Ilokano-to-Tagalog-Machince-Translation/tree/main" class="btn-learn-more">Learn More</a>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= Team Section ======= -->
      <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Team</h2>
            <p>
             A group of students from the Polytechnic University of the Philippines
            </p>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div
                class="member d-flex align-items-start"
                data-aos="zoom-in"
                data-aos-delay="100"
              >
                <div class="pic">
                  <img
                    src="../static/img/Jacob.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Jacob Matthew Rafal</h4>
                  <span>Project Leader</span>
                  <p>
                    Head of the project and main developer of the team.
                  </p>
                  <div class="social">
                    <a href="https://www.facebook.com/jacob.TheDogWoof"><i class="ri-facebook-fill"></i></a>
                    <a href="https://github.com/JakeCob"><i class="ri-github-fill"></i></a>
                    <a href="https://www.instagram.com/jacobrafal/"><i class="ri-instagram-fill"></i></a>
                    <a href="https://www.linkedin.com/in/jacob-matthew-rafal-b94399217/"> <i class="ri-linkedin-box-fill"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="../static/img/Sheane.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sheane Jossel Tolentino</h4>
                <span>Developer and Task Manager</span>
                <p>Develops and keeps track of the overall progress and tasks.</p>
                <div class="social">
                    <a href="https://www.facebook.com/sheanejossel.tolentino/"><i class="ri-facebook-fill"></i></a>
                    <a href="https://github.com/sheyn018"><i class="ri-github-fill"></i></a>
                    <a href="https://www.instagram.com/sjtolentino/"><i class="ri-instagram-fill"></i></a>
                    <a href="https://www.linkedin.com/in/sheane-jossel-tolentino-23b875246/"> <i class="ri-linkedin-box-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

            <div class="col-lg-6 mt-4">
              <div
                class="member d-flex align-items-start"
                data-aos="zoom-in"
                data-aos-delay="300"
              >
                <div class="pic">
                  <img
                    src="../static/img/Ruffy.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Joshua Ruffy</h4>
                  <span>Developer and Documentation</span>
                  <p>
                    Software developer and mainly assigned for project documentations.
                  </p>
                  <div class="social">
                    <a href="https://www.facebook.com/ruffaruffyyyyy"><i class="ri-facebook-fill"></i></a>
                    <a href="https://github.com/rupihongseokkie"><i class="ri-github-fill"></i></a>
                    <a href="https://www.instagram.com/juswa.rupi/"><i class="ri-instagram-fill"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div
                class="member d-flex align-items-start"
                data-aos="zoom-in"
                data-aos-delay="400"
              >
                <div class="pic">
                  <img
                    src="../static/img/Cedric.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Cedric Michael Opina</h4>
                  <span>Developer and QA</span>
                  <p>
                    Develops main components of the project and tests the system for any bugs
                  </p>
                  <div class="social">
                    <a href="https://www.facebook.com/cedricopina"><i class="ri-facebook-fill"></i></a>
                    <a href="https://github.com/zeniiv"><i class="ri-github-fill"></i></a>
                    <a href="https://www.instagram.com/cd.ic._.avocado/"><i class="ri-instagram-fill"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Team Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>Group 3</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">Group 3 & BootstrapMade</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="../static/vendor/aos/aos.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="../static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/js/home_main.js"></script>
  </body>
</html>
