.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.bs-example {
    margin: 20px;
}

.input-form-outline {
    margin: 50px;
}

.output-form-outline {
    margin: 50px;
}

.form-control-output {
    border: 1px solid black;
}

.form-control-input {
    border: 1px solid black;
}

.row {
    margin-top: 50px;
}

.switch-btn {
    text-align: center;
}
:root {
--bs-body-bg: #964B00;
}

.row{
background-color: #703902;
}

.navbar{
background-color: #231709;

}
.material-symbols-outlined {
color: yellow;
background-color: #231709;
border-radius: 25px;
}